@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pixel'; /*a name to be used later*/
  src: url('/public/Pixellari.ttf');
  src: url('/public/Pixellari.woff'),
       url('/public/Pixellari.woff2');
}

* {
  font-family: 'Pixel';
}

body {
  background-image: url('/bg.png');
  background-size: 40%;
  background-repeat: repeat;
  backdrop-filter: blur(1px);
  animation: AnimateBG 50s linear infinite;
}

@keyframes AnimateBG { 
  0%{background-position:50% 0%}
  50%{background-position:50% 100%}
  100%{background-position:50% 0%}
}

.my-shadow {
  box-shadow: 13px 13px 0px -3px rgba(0,0,0,1);
  -webkit-box-shadow: 13px 13px 0px -3px rgba(0,0,0,1);
  -moz-box-shadow: 13px 13px 0px -3px rgba(0,0,0,1);
}

.with-bg{
  background-image: url('/bg.png');
  background-size: 40%;
  background-repeat: repeat;
  backdrop-filter: blur(1px);
  animation: AnimateBG 50s linear infinite;
}

#root{
  height: 100vh;
  padding: 0;
}